.start-page, .bookshelf-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start-page {
    background-image: url('../images/start-background.png');
    min-height: 100vh;
    position: relative;
}

.start-page .container {
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.welcome-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.bookshelf-container {
    margin: 20px auto;
    text-align: center;
    max-width: 162px;
}

.bookshelf-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20%;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
}

.clickable-bookshelf, bookshelf-shadow {
    width: 35vw;
    max-width: 450px;
    min-width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
	z-index: 2;
}

.bookshelf-shadow {
    bottom: 100px;
    z-index: 1;
}
.clickable-bookshelf:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .bookshelf-wrapper {
        gap: 15%;
    }
    
    .clickable-bookshelf {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .bookshelf-wrapper {
        gap: 10%;
        bottom: 5%;
    }
    
    .clickable-bookshelf {
        width: 45vw;
    }
}

@media (max-width: 480px) {
    .bookshelf-wrapper {
        flex-direction: column;
        gap: 20px;
        bottom: 2%;
    }
    
    .clickable-bookshelf {
        width: 60vw;
    }
}

