.simple-player {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2); /* Bright red background */
    padding: 20px;
    border-radius: 8px;
    border: 3px solid white;
    min-width: 200px !important;
    height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.audio-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.control-button img {
    width: 30px;
    height: 30px;
}

.control-button:hover img {
    opacity: 0.8;
}
